<div class="lists-container" fxLayout="column" fxLayoutAlign="space-between">
  <mat-nav-list>
    <a
      class="nav-list-item" 
      mat-list-item 
      routerLink="/home" 
      (click)="onClose()">
      <span>
        home
      </span>
    </a>
    <a 
      class="nav-list-item" 
      mat-list-item 
      routerLink="/gallery" 
      (click)="onClose()">
      <span>
        gallery
      </span>
    </a>
  </mat-nav-list>

  <mat-nav-list>
    <a 
      *ngIf="(isAuth$ | async)" 
      class="nav-list-item" 
      mat-list-item 
      routerLink="/gallery/upload-image" 
      (click)="onClose()">
      <span>  
        upload
      </span>
    </a>
    <a
      *ngIf="!(isAuth$ | async)" 
      class="nav-list-item" 
      mat-list-item 
      routerLink="auth/login" 
      (click)="onClose()">
      <span>
        login
      </span>
    </a>
    <a
      *ngIf="(isAuth$ | async)" 
      class="nav-list-item" 
      mat-list-item
      (click)="onLogOut()">
      <span>logout</span>
    </a>
  </mat-nav-list>
</div>