<div class="container" fxLayout fxLayoutAlign="center" >
  <div class="form-container" fxLayout="column" fxLayoutGap="1rem">
    <div
      class="preview" 
      fxLayout 
      fxLayoutAlign="center"
      *ngIf="urlsPresent">
      <img [src]="completedUrls._200x200" alt="">
    </div>
    <div class="spinner-container" fxLayout fxLayoutAlign="center">
      <mat-spinner *ngIf="retrievingData"></mat-spinner>
    </div>
    <input
      *ngIf="!retrievingData || !urlsPresent"
      class="input"
      #fileInput
      type="file"
      (change)="onFileSelected($event)">
    <form
      *ngIf="!retrievingData"
      class="imageDataForm"
      [formGroup]="imageDataForm"
      fxLayout="column"
      fxLayoutGap="1rem">
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="title"
          placeholder="title">
      </mat-form-field>
      <div class="year-width-height" fxLayout fxLayoutGap="1rem">
        <mat-form-field>
          <input
            type="number"
            matInput
            formControlName="yearCreated"
            placeholder="yearCreated">
        </mat-form-field>
        <mat-form-field>
          <input
            type="number"
            matInput
            formControlName="width"
            placeholder="width(cm)">
        </mat-form-field>
        <mat-form-field>
          <input
            type="number"
            matInput
            formControlName="height"
            placeholder="height(cm)">
        </mat-form-field>
      </div>
      
      <mat-selection-list formControlName="medium">
        <mat-list-option color="primary" *ngFor="let medium of mediums" [value]="medium">
          {{medium}}
        </mat-list-option>
      </mat-selection-list>

      <mat-radio-group formControlName="bearer">
        <mat-radio-button *ngFor="let bearer of bearers" [value]="bearer" color="primary" class="bearer">{{bearer}}</mat-radio-button>  

        <!-- <mat-radio-button value="canvas" color="primary" class="bearer">canvas</mat-radio-button>  
        <mat-radio-button value="paper" color="primary" class="bearer">paper</mat-radio-button>  
        <mat-radio-button value="other" color="primary" class="bearer">other</mat-radio-button>       -->
      </mat-radio-group>

      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="caption"
          placeholder="caption">
      </mat-form-field>
      <mat-form-field>
        <input
          type="number"
          matInput
          formControlName="price"
          placeholder="price">
      </mat-form-field>
      <mat-form-field>
        <input
          type="number"
          matInput
          formControlName="listPosition"
          placeholder="list position">
      </mat-form-field>
      <button *ngIf="urlsPresent"
        mat-raised-button
        [disabled]="imageDataForm.invalid"
        (click)="onStoreImageDataInDb()">
        <!-- addImageDataToDb -->
        add to gallery
      </button>
    </form>
    <button *ngIf="fileSelected" (click)="onCancel()" mat-raised-button>cancel</button>
  </div>
</div>