<div class="container">
  <div *ngIf="imageSelected" class="selected-image-container">
    <img class="selected-image" (click)="imageSelected = false" [src]="selectedImageUrl" alt="">
  </div>
  <div class="artworks" *ngIf="!imageSelected">
    <div class="artwork-item" *ngFor="let image of images$ | async">
      <div
        class="picture-container"
        
        fxLayout fxLayoutAlign="center">

        <picture class="picture" fxLayout="column" fxLayoutGap=".1rem">
          <div class="title-info-plus" fxLayout fxLayoutAlign="space-between" fxLayoutGap=".2rem">
            <div fxLayout="column" fxLayoutAlign="center" class="title">{{image.title}}</div>
            <div class="plus-info" fxLayout fxLayoutGap=".2rem">
              <button
                *ngIf="isMobile"
                class="plus" 
                mat-raised-button
                (click)="selectedImageUrl = image.urls._original; imageSelected = true">
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>
              <button
                class="info"
                mat-raised-button class="info"
                (click)="onInfo($event, image)">
                <fa-icon [icon]="faInfo"></fa-icon>
              </button>
            </div>
          </div>
          <source [srcset]="image.urls._430x430" media="(min-width: 428px)">
          <source [srcset]="image.urls._320x320" media="(min-width: 320px)">
          <img 
            (click)="activateShowcase(image.urls)" 
            class="artwork" 
            [ngStyle]="isMobile ? getHeight() : ''" 
            [src]="image.urls._200x200">
          <div 
            *ngIf="isAuth$ | async" 
            class="list-position-edit-trash" 
            fxLayout 
            fxLayoutAlign="space-between"
            fxLayoutGap=".2rem">
            <div 
              class="list-position-container" 
              fxLayout="column" 
              fxLayoutAlign="center">
              <div 
                class="list-position" 
                fxLayout>
                <div class="list-position-text">
                  list position
                </div>
                <div class="list-position-number">
                  {{image.listPosition}}
                </div>
              </div>
            </div>
            <div class="edit-trash" fxLayout fxLayoutGap=".2rem">
              <button
                *ngIf="isAuth$ | async"
                mat-raised-button
                class="edit"
                (click)="onEdit(image)">
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>
              <button
                *ngIf="isAuth$ | async"
                mat-raised-button
                class="trash"
                (click)="onDelete(image)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </div>
          </div>
        </picture>
      </div>
    </div>
  </div>
</div>