.container {
  padding: 1rem;
  .selected-image-container {
    .selected-image {

    }
  }
  .artwork-list {
    border: 5px solid green;
    .artwork-list-item {
      outline: 5px solid pink;
      width: 320px;
      .title {
        font-size: 2rem;
        margin: 0 auto;
      }
      .size-buttons button {
        width: calc(100% / 3);
      }
      .tumbnail-container {
        .thumbnail {

        }
      }
    }
  }
}