<div class="container" fxLayout fxLayoutAlign="center center">

  <div *ngIf="imageSelected" class="selected-image-container">
    <img class="selected-image" (click)="imageSelected = false" [src]="selectedImageUrl" alt="">
  </div>
  <ul class="artwork-list" *ngIf="!imageSelected" fxLayout="row">
    <li class="artwork-list-item" *ngFor="let image of images$ | async" fxLayout="column">
      <div class="title">{{image.title}}</div>
      <!-- <div class="caption">{{image.caption}}</div>
      <div class="price">{{image.price | currency:"EUR"}}</div> -->
      <div class="size-buttons">
        <button mat-raised-button
          (click)="selectedImageUrl = image.urls._640x640; imageSelected = true">640x640</button>
        <button mat-raised-button
          (click)="selectedImageUrl = image.urls._1440x1440; imageSelected = true">1440x1440</button>
        <button mat-raised-button
          (click)="selectedImageUrl = image.urls._original; imageSelected = true">original</button>
      </div>
      <div class="thumbnail-container">
        <img class="thumbnail" [src]="image.urls._320x320" alt="">
      </div>
      <div *ngIf="isAuth$ | async" class="">{{image.listPosition}}</div>
      <div class="info-edit-delete-buttons" fxLayout="column" fxLayoutGap="0.5rem">
        <button
          mat-raised-button class="info" 
          (click)="onInfo(image)">
          info
        </button>
        <button
          *ngIf="isAuth$ | async"
          mat-raised-button 
          class="info" 
          (click)="onEdit(image)">
          edit
        </button>
        <button
          *ngIf="isAuth$ | async" 
          mat-raised-button 
          class="info" 
          (click)="onDelete(image)">
          delete
        </button>
      </div>
    </li>
  </ul>
</div>