.close-icon {
  position: absolute;
  color: red;
  margin-left: 1rem;
  font-size: 3rem;
}

.image-container {
  .image {
    width: 100%;
  }
}

.close-up {
  width: 200%;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
