.section {
  
  max-width: 100vw;
  .main {
    max-width: 480px;
    .name {
      
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 0.3rem;
      text-transform: uppercase;
      padding: 0rem;
      @media (max-width: 500px) {
        padding: 0 1rem;
        /* 
          Device = Most of the Smartphones Mobiles (Portrait)
          Screen = 320px to 479px
        */
      }
    }
    .image-container {
      max-width: 480px;
      width: 100vw;
      margin-bottom: .5rem;
      .tailleur {
        height: 100%;
        width: 100%;
      }
      // border: 3px solid yellow;
      // height: 100px;
      // width: 100%;
      // background-image: url('./../../assets/images/victor-tailleur.jpg');
      // background-repeat: no-repeat;
      // height: 500px;
    }
    .after-image {
      padding: 0rem;
      @media (max-width: 500px) {
        padding: 0 1rem;
        /* 
          Device = Most of the Smartphones Mobiles (Portrait)
          Screen = 320px to 479px
        */
      }
      .header {
        font-size: 1.5rem;
        
      }
      .victor-tailleur-container {
        max-width: 450px;
        .victor-tailleur {
          width: 100%;
        }
      }
      .content {
        margin: 1.5rem 0;
        text-align: justify;
        .link {
          text-align: left;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  /* 
    Device = Most of the Smartphones Mobiles (Portrait)
    Screen = 320px to 479px
  */
}
@media (min-width: 481px) and (max-width: 767px) {
  /* 
    Device = Low Resolution Tablets, Mobiles (Landscape)
    Screen = 481px to 767px
  */
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* 
    Device = Tablets, Ipads (portrait)
    Screen = 768px to 1024px
  */
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* 
  Device = Laptops, Desktops
  Screen = 1025px to 1280px
  */
}
@media (min-width: 1281px) {
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
  */
}
